.place__image {
    max-width: 460px;
    min-height: 460px;
    width: 100%;
    grid-area: image;
    object-fit: cover;
}

@media (max-width: 1024px) {
    .place__image {
        max-width: 440px;
        min-height: 440px;
    }
}

@media (max-width: 768px) {
    .place__image {
        max-width: 340px;
        min-height: 340px;
    }
}

@media (max-width: 500px) {
    .place__image {
        max-width: 500px;
        min-height: 500px;
    }
}

@media (max-width: 360px) {
    .place__image {
        max-width: 360px;
        min-height: 360px;
    }
}

@media (max-width: 320px) {
    .place__image {
        max-width: 320px;
        min-height: 320px;
    }
}