.photo-grid__section {
    max-width: 1184px;
    min-width: 273px;
    margin: 0 auto;
    padding: 92px 48px 0;
}

@media (max-width: 768px) {
    .photo-grid__section {
        padding: 88px 24px 0;
    }
}

@media (max-width: 320px) {
    .photo-grid__section {
        padding: 64px 16px 0;
    }
}

