.footer__section {
    max-width: 1184px;
    margin: 92px 48px 24px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    .footer__section {
       max-width: 928px;
    }
} 

@media (max-width: 768px) {
    .footer__section {
       margin: 88px 24px 24px;
       max-width: 720px;
    }
} 

@media (max-width: 765px) {
    .footer__section {
       flex-direction: column;
    }
} 

@media (max-width: 320px) {
    .footer__section {
       margin: 64px 0 24px 16px;
       max-width: 186px;
    }
} 

